__pycache__/
*.py[cod]
*.hy[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
*.egg-info
dist/
eggs/
.eggs/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

precept/__pycache__/
precept/*.py[cod]
precept/*.hy[cod]
precept/*$py.class

examples/notebooks/.ipynb_checkpoints

models
data
